<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashMantainAspectRatio" value="true" />

    <icon src="www/img/icon.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        
        <icon src="www/img/android/icon_ldpi.png" density="ldpi" />
        <icon src="www/img/android/icon_mdpi.png" density="mdpi" />
        <icon src="www/img/android/icon_hdpi.png" density="hdpi" />
        <icon src="www/img/android/icon_xhdpi.png" density="xhdpi" />
        <icon src="www/img/android/icon_xxhdpi.png" density="xxhdpi" />
        <icon src="www/img/android/icon_xxxhdpi.png" density="xxxhdpi" />

        <splash src="www/img/android/splash/bg_ldpi.png" density="ldpi" />
        <splash src="www/img/android/splash/bg_mdpi.png" density="mdpi" />
        <splash src="www/img/android/splash/bg_hdpi.png" density="hdpi" />
        <splash src="www/img/android/splash/bg_xhdpi.png" density="xhdpi" />
        <splash src="www/img/android/splash/bg_xxhdpi.png" density="xxhdpi" />
        <splash src="www/img/android/splash/bg_xxxhdpi.png" density="xxxhdpi" />

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-battery-status" spec="~1.2.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.0" />
    <engine name="browser" spec="~4.1.0" />
</widget>
